In [1]:
import pandas as pd

In [10]:
links = pd.read_csv('links.csv')
movies = pd.read_csv('movies.csv', index_col = 'movieId')
ratings = pd.read_csv('ratings.csv')
tags = pd.read_csv('tags.csv')

In [29]:
# EPXLORACIÓN DE DATOS
# Primero se verán las películas que ha rateado un usuario. Quería sortear los datos, pero 
# ya estaban sorteados.

mask_usuario = ratings.userId == 1
ratings[mask_usuario].rating.value_counts()

# Con este mask, se pueden ver cuantas calificaciones ha hecho el usuario.

5.0    124
4.0     76
3.0     26
2.0      5
1.0      1
Name: rating, dtype: int64

In [34]:
# Ahora, se seleccionaran sólo las películas del usuario que tengan 5 estrellas 
mask_usuario_punt = (ratings.rating == 5) & (ratings.userId == 1)
peliculas_5_rating_user_1 = ratings[mask_usuario_punt]
peliculas_5_rating_user_1

     userId  movieId  rating  timestamp
3         1       47     5.0  964983815
4         1       50     5.0  964982931
6         1      101     5.0  964980868
8         1      151     5.0  964984041
9         1      157     5.0  964984100
..      ...      ...     ...        ...
223       1     3702     5.0  964983737
224       1     3703     5.0  964981909
225       1     3729     5.0  964982363
228       1     3793     5.0  964981855
231       1     5060     5.0  964984002

[124 rows x 4 columns]

In [36]:
# Ahora, se deben agregar las películas, junto a sus categorías, para saber cuales son las 
# categorías que más le gustan al usuario. 

# Para esto, se debe iterar por cada fila de la columna movieId, y extraer los datos desde 
# el df movies

nombres_peliculas = [movies.loc[id].title for id in peliculas_5_rating_user_1.movieId]
generos_peliculas = [movies.loc[id].genres for id in peliculas_5_rating_user_1.movieId]

# Estos datos se deben agregar a columnas en el data frame anterior
peliculas_5_rating_user_1['title'] = nombres_peliculas
peliculas_5_rating_user_1['genres'] = generos_peliculas

peliculas_5_rating_user_1

C:\Users\Hp paviolion 360\AppData\Local\Temp\ipykernel_18372\2491678504.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peliculas_5_rating_user_1['title'] = nombres_peliculas
C:\Users\Hp paviolion 360\AppData\Local\Temp\ipykernel_18372\2491678504.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peliculas_5_rating_user_1['genres'] = generos_peliculas

,userId,movieId,rating,timestamp,title,genres
3,1,47,5.0,964983815,Mighty Aphrodite (1995),Comedy|Drama|Romance
4,1,50,5.0,964982931,Georgia (1995),Drama
6,1,101,5.0,964980868,Anne Frank Remembered (1995),Documentary
8,1,151,5.0,964984041,Mad Love (1995),Drama|Romance
9,1,157,5.0,964984100,Nine Months (1995),Comedy|Romance
...,...,...,...,...,...,...
223,1,3702,5.0,964983737,Hart's War (2002),Drama|War
224,1,3703,5.0,964981909,John Q (2002),Crime|Drama|Thriller
225,1,3729,5.0,964982363,Royal Wedding (1951),Comedy|Musical|Romance
228,1,3793,5.0,964981855,"Rome, Open City (a.k.a. Open City) (Roma, citt...",Drama|War
231,1,5060,5.0,964984002,Dark Days (2000),Documentary